$color-blue: #3178C6;
$color-gray-700: #344054;
$color-gray-400: #98A2B3;
$color-gray-300: #D0D5DD;

.loginPage-container {
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-rows: calc(100vh);

  &__left{
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: $color-blue;
  }

  &__imgBox{
    width: 100%;
  }
  &__img{
    width: 100%;
  }

  &__right{
    display: flex;
    justify-content: center;
    align-items: center;

    .ant-form-item-label label{
      font-size: 16px;
      line-height: 24.2px;
    }
    .ant-input::placeholder {
      font-size: 16px;
      color: $color-gray-400;
      line-height: 24px;
    }
    .ant-input-affix-wrapper {
      height: 45px;
    }
    .ant-input-suffix span svg{
      width: 22px;
      height: 22px;
    }
    .ant-btn-primary{
      height: 45px;
      background-color: $color-blue;
    }
  }

  &__formBox{
    width: 421px;
    justify-items: center;
    align-items: center;
  }

  &__title{
    font-size: 32px;
    color: $color-gray-700;
    padding-bottom: 20px;
  }
}

@media screen and (max-width: 1200px) {
  .loginPage-container {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: calc(100vh);
  }
}

@media screen and (max-width: 960px) {
  .loginPage-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: calc(100vh);

    &__left{
      display: none;
    }
  }
}

.pagination-btn {
  display: flex;
  align-items: center;
  border-radius: 8px;
  background: white;
  color: $color-gray-700;
  cursor: pointer;
  transition: all 0.3s;
}
.ant-pagination-options{
  display: none !important;
}

.app{
  width: 100%;
  height: 100vh;

  .mainPage-container {
    display: grid;
    grid-template-rows: 60px calc(100vh - 60px);
    grid-template-columns: minmax(244px, max-content) 1fr;

    .sidebar-container {
      grid-row: 1 / -1;
      grid-column: 1 / 2;
      border-right: 1px solid $color-gray-300;

      &__title{
        padding:22px 40px;
        margin-bottom: 0;
      }

      &__list{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 12px;
      }

      &__item{
        width: 205px;
        height: 45px;
        cursor: pointer;
        display: flex;
        align-items: center;
        padding: 0 15px;
        border-radius: 6px;

        &:hover{
          background-color: $color-blue;
          .sidebar-container{
            &__icon{
              color: #fff;
            }
            &__span{
              color: #fff;
            }
          }
        }
      }



      &__icon{
        width: 24px;
        height: 24px;
        color: $color-gray-700;
      }

      &__span{
        font-size: 16px;
        color: $color-gray-700;
        margin-left: 12px;
      }

      .active{
        background-color: $color-blue;
        .sidebar-container{
          &__icon{
            color: #fff;
          }
          &__span{
            color: #fff;
          }
        }
      }
    }

    .header-container {
      grid-row: 1 / 2;
      grid-column: 2 / -1;
      border-bottom: 1px solid $color-gray-300;

      display: grid;
      grid-template-columns: 1fr  max-content;
      grid-gap: 20px;
      align-items: center;
      justify-content: center;
      padding: 0 20px;
    }
    .user-container {
      width: 40px;
      height: 40px;
      background-color: $color-gray-300;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
    }

    .main-container{
      .post-container {
        height: calc(100vh - 60px - 20px);
        overflow: hidden;
        padding: 10px;

        &__table{
          overflow-y: auto;
          border: 1px solid $color-gray-300;
          border-radius: 6px;
        }
      }
    }
  }
}